In [1]:
%matplotlib inline

# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV saved in WeatherPY (i.e "cities.csv") into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-04-08 01:26:34,-23.1203,-134.9692,77.25,60,0,7.65
1,1,Pangnirtung,CA,2021-04-08 01:26:34,66.1451,-65.7125,30.04,95,100,9.06
2,2,Longyearbyen,SJ,2021-04-08 01:26:34,78.2186,15.6401,23.00,86,90,14.97
3,3,Vanavara,RU,2021-04-08 01:26:35,60.3400,102.2797,29.35,91,100,4.90
4,4,Tessalit,ML,2021-04-08 01:26:35,20.1986,1.0114,79.56,11,100,8.68

In [3]:
# Caveat to using gmaps: data for mapping must be either an integer or a floating-point decimal number.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
temps = []
max_temp = city_data_df["Max Temp"]

for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# [max(temp, 0) for temp in max_temp]
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-04-08 01:26:34,-23.1203,-134.9692,77.25,60,0,7.65
4,4,Tessalit,ML,2021-04-08 01:26:35,20.1986,1.0114,79.56,11,100,8.68
10,10,Georgetown,MY,2021-04-08 01:26:37,5.4112,100.3354,81.00,89,20,2.30
20,20,Kapaa,US,2021-04-08 01:26:40,22.0752,-159.3190,75.20,64,75,19.57
27,27,Bathsheba,BB,2021-04-08 01:26:42,13.2167,-59.5167,78.80,65,20,10.36
29,29,Atuona,PF,2021-04-08 01:26:42,-9.8000,-139.0333,80.73,73,5,15.26
33,33,Butaritari,KI,2021-04-08 01:26:44,3.0707,172.7902,81.46,78,100,13.06
34,34,Buchanan,LR,2021-04-08 01:26:44,5.8808,-10.0467,77.00,94,20,4.03
44,44,Vao,NC,2021-04-08 01:26:47,-22.6667,167.4833,76.42,75,21,17.16
52,52,Gambiran,ID,2021-04-08 01:26:49,-6.7988,111.4951,80.24,84,100,5.77

In [11]:
# Check for null values for any of the rows.
# preferred_cities_df.notnull().sum()
# preferred_cities_df.isnull().sum()

preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [12]:
# Create new DataFrame from preferred_cities_df to store hotel info keeping only 
# "City", "Country", "Max Temp", "Lat", "Lng" columns
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# Add a column for "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0      Rikitea      PF     77.25 -23.1203 -134.9692
4     Tessalit      ML     79.56  20.1986    1.0114
10  Georgetown      MY     81.00   5.4112  100.3354
20       Kapaa      US     75.20  22.0752 -159.3190
27   Bathsheba      BB     78.80  13.2167  -59.5167
29      Atuona      PF     80.73  -9.8000 -139.0333
33  Butaritari      KI     81.46   3.0707  172.7902
34    Buchanan      LR     77.00   5.8808  -10.0467
44         Vao      NC     76.42 -22.6667  167.4833
52    Gambiran      ID     80.24  -6.7988  111.4951

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
       
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,77.25,-23.1203,-134.9692,Pension Maro'i
4,Tessalit,ML,79.56,20.1986,1.0114,
10,Georgetown,MY,81.00,5.4112,100.3354,Cititel Penang
20,Kapaa,US,75.20,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
27,Bathsheba,BB,78.80,13.2167,-59.5167,Atlantis Hotel

In [16]:
hotel_df.isnull().sum()

City          0
Country       0
Max Temp      0
Lat           0
Lng           0
Hotel Name    0
dtype: int64

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))